<a href="https://colab.research.google.com/github/jonra1993/Data-Science-with-Python/blob/master/Merchants_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Data**

In [ ]:
import pandas as pd
import matplotlib.pylab as plt
import numpy as np

filename = "https://raw.githubusercontent.com/jonra1993/Data-Science-with-Python/master/Datasets/Merchants.csv"
df = pd.read_csv(filename)

Shows the first 5 rows

In [ ]:
df.head()

          Fecha  ...                                 Problemas de COVID
0  15 mayo 2020  ...                           menor cantidad de ventas
1  16 mayo 2020  ...                                                NaN
2  17 mayo 2020  ...                      No puedo trabajar en mi área.
3  18 mayo 2020  ...                              Han bajado las ventas
4  19 mayo 2020  ...  Dificultad de promocionar y llevar los productos.

[5 rows x 11 columns]

Shows the last 2 rows

In [ ]:
df.tail(2)

             Fecha  ...                                 Problemas de COVID
120  25 junio 2020  ...                             No generando ingresos
121  25 junio 2020  ...  TERRIBLE ESTA PRACTICAMENTE CERRADO PERO QUIER...

[2 rows x 11 columns]

In [ ]:
df.columns

Index(['Fecha', 'Hora', 'Nombre negocio', 'Ciudad', 'Dirección',
       'método de entrega', 'método de entrega.1', 'Plan', 'Tipo de negocio',
       'Cómo llegaron', 'Problemas de COVID'],
      dtype='object')

Edit headers

In [ ]:
new_headers = ['date', 'time', 'business_name', 'city', 'address', 'delivery_method1', 'delivery_method2', 'plan', 'business_type', 'where_they_come_from', 'covid_problems']

In [ ]:
df.columns = new_headers
df.head(2)

           date   time  ... where_they_come_from            covid_problems
0  15 mayo 2020  12:00  ...                  NaN  menor cantidad de ventas
1  16 mayo 2020  13:00  ...                  NaN                       NaN

[2 rows x 11 columns]

Check data types

In [ ]:
df.dtypes

date                    object
time                    object
business_name           object
city                    object
address                 object
delivery_method1        object
delivery_method2        object
plan                    object
business_type           object
where_they_come_from    object
covid_problems          object
dtype: object

Convert date and tiem into date type (solve correct conversion)

In [ ]:
import locale

#df['date'] = pd.to_datetime(df['date'], format= '%d %m %y')
#df['time'] = pd.to_datetime(df['time'], format= '%h:%m', errors='ignore')
#df['time'] = df['time'].astype('datetime64[ns]')

In [ ]:
df.dtypes

date                            object
time                    datetime64[ns]
business_name                   object
city                            object
address                         object
delivery_method1                object
delivery_method2                object
plan                            object
business_type                   object
where_they_come_from            object
covid_problems                  object
dtype: object

**Statistical Summary**

In [ ]:
# This does not work good with no number data
df.describe()

In [ ]:
df.head(5)

           date  ...                                     covid_problems
0  15 mayo 2020  ...                           menor cantidad de ventas
1  16 mayo 2020  ...                                                NaN
2  17 mayo 2020  ...                      No puedo trabajar en mi área.
3  18 mayo 2020  ...                              Han bajado las ventas
4  19 mayo 2020  ...  Dificultad de promocionar y llevar los productos.

[5 rows x 11 columns]

Convert city in lower case

In [ ]:
df['city'] = df['city'].str.lower()

1.   Replace empty values in **delivery_method1**	column
2.   Replace empty values in **where_they_come_from**	column
3.   Replace empty values in **delivery_method**	column

In [ ]:
df['delivery_method1'] = df['delivery_method1'].replace(np.nan, 'No a domicilio')
df['delivery_method2'] = df['delivery_method2'].replace(np.nan, 'No para llevar')
df['where_they_come_from'] = df['where_they_come_from'].replace(np.nan, 'No indica')
df['covid_problems'] = df['covid_problems'].replace(np.nan, 'No indica')

Converting categorical data into quantitative variables "**one-hot encoding**"

In [ ]:
pd.get_dummies(df['delivery_method1'])
pd.get_dummies(df['delivery_method2'])
pd.get_dummies(df['plan'])
pd.get_dummies(df['business_type'])
pd.get_dummies(df['city'])

     ambato  cayambe   cuenca  cumbaya  ...  quito  quito   sangolqui  tosagua
0         0         0       0        0  ...      1       0          0        0
1         0         0       0        0  ...      1       0          0        0
2         0         0       0        0  ...      1       0          0        0
3         0         0       0        0  ...      0       0          0        0
4         0         0       0        0  ...      1       0          0        0
..      ...       ...     ...      ...  ...    ...     ...        ...      ...
117       0         0       0        0  ...      0       0          0        0
118       0         0       0        0  ...      1       0          0        0
119       0         0       0        0  ...      1       0          0        0
120       0         0       0        0  ...      1       0          0        0
121       0         0       0        0  ...      1       0          0        0

[122 rows x 15 columns]