<a href="https://colab.research.google.com/github/jonra1993/Python-for-Data-Science-IBM/blob/master/Module2_PythonDataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python Basics**

## **1. Your First Program**

In [ ]:
# This statement in cell, prints a message

print("Hello I am Jonathan, Welcome to Python3")

In [21]:
# Check the Python Version

import sys
print(sys.version)

3.6.9 (default, Apr 18 2020, 01:56:04)
[GCC 8.4.0]

In [23]:
# Print string as error message

frint("Hello, Python!")

NameError: ignored

## **2. Types of Data**

Main Data typea

In [13]:
# Integers (int)
integer = 11

# Real numbers (float)
real = 2.14

# Words or strings (str)
my_string = "Hello"

# Boolean
bool_value_true = True
bool_value1_false = False

In [14]:
# Print data type
print(type(-11))
print(type(2.14))
print(type("Hello"))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

Type Casting
(It is the process of changing one type of data into another)

In [7]:
# Into float
float(2)

2.0

In [9]:
# Float into int (You cna lose some information due to decimal part)
int(1.1)

1

In [10]:
# String into int 
int('2')

2

In [12]:
# Float and int into string
print(str(2.2))
print(str(1))

2.2
1

## **3. Expressions and Variables**

**Expressions** describe a type of operation that computers perform.
Expressions are operations that Python performs. For example, basic arithmetic operations **like**

In [16]:
# Expression example (math symbols are called operators and numbers operands)
2+3*5

17

In [17]:
# Sum and Minus
5+5-5+5

10

In [19]:
# Float division and integer division
print(7/5)
print(7//5)

1.4
1

**Variables:** They store values.

In [20]:
my_variable = 60
other_variable = my_variable/2

## **4. String Operations**

A string is a sequence of characters contained within two quotes or single quotes

In [26]:
my_string = "Hello 123 ¢$"
my_string = 'Hello 123 ¬%'

**Access elements**
Each element in the sequence of a string can be accessed using an index represented by the array of numbers.

In [28]:
# Characters can be accessed using positive indexes

my_string[0]

'H'

In [29]:
# Characters can also be accessed using negative indexes

my_string[-1]

'%'

In [30]:
# Slicing strings

my_string[1:5]

'ello'

In [36]:
# Starts in index 0 and end in index -1 at step of 2

my_string[::2]

'Hlo13¬'

In [37]:
# Starts in index 0 and end in index 7 at step of 2

my_string[0:7:2]

'Hlo1'

**Concatenate elements**

In [39]:
name = "Jonathan"
my_name = "My name is " + name
print(my_name)

My name is Jonathan

**Replicate strings**

In [41]:
name = "Jonathan "
replicate = 3*name
print(replicate)

Jonathan Jonathan Jonathan

Strings are inmutable, they can not be changed

In [ ]:
name = "Jonathan "
name[0] = 'Y'   #this is not allowed

**Escape sequences**

In [45]:
new_line = "Jonathan \n new line\n"
new_tab = "Jonathan \t tab"
print(new_line)
print(new_tab)

Jonathan
 new line
Jonathan 	 tab

**String Methods**

They use same methods that use list and tuples and other special methods for strings

**Upper** Converts lower case into upper case.

In [46]:
name = 'Jonathan'
name_upper = name.upper()
print(name_upper)

JONATHAN

**Replace:** It changes a phrase

In [47]:
name = 'My name is Jonathan'
replaced_name = name.replace('is', 'is not')
print(replaced_name)

My name is not Jonathan

**Find:** Indicates first index of sequence

In [51]:
name = 'My name is Jonathan'
name_find = name.find('is')
print(name_find)

8