<a href="https://colab.research.google.com/github/jonra1993/Python-for-Data-Science-IBM/blob/master/Module4_WorkingwithDatainPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with Data in Python

In [ ]:
# Download Example file

!wget -O Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

## **1. Reading files with open**

In [4]:
# Open file using with
example1 = "Example1.txt"

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [5]:
# Verify if the file is closed

file1.closed

True

In [6]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

This

In [7]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [8]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [9]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1;

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [10]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [11]:
# Print the first line

FileasList[0]

'This is line 1 \n'

## **2. Writing files with open**

In [13]:
# Write line to file

with open('Example2.txt', 'w') as writefile:
    writefile.write("This is line A")

In [18]:
# Read file

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [17]:
# Write lines to file

with open('Example2.txt', 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [19]:
# Read file

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [21]:
# Write a new line to text file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")

In [23]:
# Verify if the new line is in the text file

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [24]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [25]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [26]:
# Verify if writing to file is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [27]:
# Append the line to the file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line D\n")

In [28]:
# Verify if the appending is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line D

In [29]:
# Copy file to another

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [30]:
# Verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line D

## **3. Loading data with Pandas**

In [55]:
import pandas as pd

df=pd.DataFrame({'age':[11,21,31, 23, 12, 14],'height':[21,22,23, 12, 12, 11]})

In [57]:
# Plots the first 3 rows

df.head(3)

   age  height
0   11      21
1   21      22
2   31      23

In [36]:
# Prints column age

df['age']

0    11
1    21
2    31
Name: age, dtype: int64

In [40]:
# Sub dataframe

y = df[['age']]
y

   age
0   11
1   21
2   31

In [50]:
# Prints row 0 column 0

df.iloc[0,0]

11

In [53]:
# Prints all rows of column age

df.loc[:,'age']

0    11
1    21
2    31
Name: age, dtype: int64

## **4. Working with and Saving data with Pandas**