<a href="https://colab.research.google.com/github/jonra1993/Python-for-Data-Science-IBM/blob/master/Module2_PythonDataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Data Structures**

## **1. Lists and Tuples**

### **Tuples**

**Tuples** are ordered sequences. They are inmutable so they can not be changed

In [52]:
# Example of tuple

ratings = (1, 2, 3, 4, 5)

In [54]:
# Type of tuples are always tuple

others = ('Hello', 2, 12.1)
print(type(others))

<class 'tuple'>

In [55]:
# Extarct tuple content

content = ('Hello', 2, 12.1)
print(content[2])

12.1

They can be sliced similar as lists

In [56]:
content = ('Hello', 2, 12.1)
print(content[::2])

('Hello', 12.1)

In [57]:
# lenght of a tuple

content = ('Hello', 2, 12.1)
print(len(content))

3

In [58]:
# sort a tuple

ratings = (10, 2, 3, 7, 0)
sorted_ratings = sorted(ratings)
print(sorted_ratings)

[0, 2, 3, 7, 10]

Tuples can also be nested, so they can contain other tuples.

In [67]:
# Nesting

ratings = (10, (2, 'Hi', 2.1, (2, 2.21)), 0)
print('tuple: ', ratings)
print('index: ', ratings[1][3][1])

tuple:  (10, (2, 'Hi', 2.1, (2, 2.21)), 0)
index:  2.21

### **Lists**

**Lists** are ordered sequences. They are mutable so they can be changed

In [68]:
# Example of list

ratings = [1, 2, 3, 4, 5]

In [69]:
# Type of List are always list

others = ['Hello', 2, 12.1]
print(type(others))

<class 'list'>

In [70]:
# Nesting

ratings = [10, (2, 'Hi', 2.1, [2, 2.21]), 0]
print('tuple: ', ratings)
print('index: ', ratings[1][3][1])

tuple:  [10, (2, 'Hi', 2.1, [2, 2.21]), 0]
index:  2.21

In [71]:
# Slicing

ratings = [10, (2, 'Hi', 2.1, [2, 2.21]), 0]
print('slices: ', ratings[::2])

slices:  [10, 0]

In [75]:
# Extend, add new elements to list

ratings = [10, (2, 'Hi', 2.1, [2, 2.21]), 0]
ratings.extend(['pop',2])
print(ratings)

[10, (2, 'Hi', 2.1, [2, 2.21]), 0, 'pop', 2]

In [77]:
# Append, add just a new element to list

ratings = [10, (2, 'Hi', 2.1, [2, 2.21]), 0]
ratings.append(['pop',2])
print(ratings)

[10, (2, 'Hi', 2.1, [2, 2.21]), 0, ['pop', 2]]

In [78]:
# Change elements

ratings = [10, (2, 'Hi', 2.1, [2, 2.21]), 0]
ratings[0]= 'Jonathan'
print(ratings)

['Jonathan', (2, 'Hi', 2.1, [2, 2.21]), 0]

In [80]:
# Delete elements

ratings = [10, (2, 'Hi', 2.1, [2, 2.21]), 0]
del(ratings[0])
del(ratings[-1])
print(ratings)

[(2, 'Hi', 2.1, [2, 2.21])]

In [81]:
# Convert string into list

name = 'Jonathan'
name_list = name.split()
print(name_list)
print(type(name_list))

['Jonathan']
<class 'list'>

In [82]:
# Separate string using delimiter

name = 'J,o,n,a,t,h,a,n'
name_list = name.split(',')
print(name_list)

['J', 'o', 'n', 'a', 't', 'h', 'a', 'n']

In [84]:
# Aliasing (name and other_name are referencing to same object)

name = ['Jonathan', 1, 3]
other_name = name
other_name[0] = 'yo'
print(name)

['yo', 1, 3]

In [87]:
# Clone list

name = ['Jonathan', 1, 3]
other_name = name[:]
new_name = name.copy()
new_name[0] = 'h' 
other_name[0] = 'yo'
print(name)

['Jonathan', 1, 3]

In [ ]:
help(name)

### **Sets**

They are a type of collection. Unlike tuples and lists, they are unordered; so they do not record element position.

They only have unique elements

In [89]:
# Create a set

set1 = {'rock', 'is', 'music', 'is', 'is'}
print(set1)

{'rock', 'is', 'music'}

In [92]:
# Create a set from list

set1 = set(['rock', 'is', 'music', 'is', 'is'])
set2 = set(('rock', 'is', 'music', 'is', 'is'))
print('set from list:', set1)
print('set from tuple:', set2)
print(type(set1))

set from list: {'rock', 'is', 'music'}
set from tuple: {'rock', 'is', 'music'}
<class 'set'>

Set Operations

In [93]:
# Add items

set1 = {'rock', 'is', 'music'}
set1.add('house')
print('set from list:', set1)
print(type(set1))

set from list: {'rock', 'house', 'is', 'music'}
<class 'set'>

In [94]:
# Remove items

set1.remove('house')
print('set from list:', set1)
print(type(set1))

set from list: {'rock', 'is', 'music'}
<class 'set'>

In [96]:
# Check if items is in set

print('rock' in set1)
print('house' in set1)

True
False

In [97]:
# Intersections of sets

set1 = {'rock', 'is', 'music'}
set2 = {'ro', 'is', 'mu'}
print(set1 & set2)

{'is'}

In [103]:
# Difference of sets

set1 = {'rock', 'is', 'music'}
set2 = {'ro', 'is', 'mu'}
print(set1.difference(set2))

{'rock', 'music'}

In [98]:
# Union of sets

set1 = {'rock', 'is', 'music'}
set2 = {'ro', 'is', 'mu'}
print(set1.union(set2))

{'rock', 'is', 'music', 'ro', 'mu'}

In [101]:
# Subset items

set1 = {'rock', 'is', 'music'}
set2 = {'rock', 'is'}
print(set2.issubset(set1))

True

In [104]:
# Superset items

set1 = {'rock', 'is', 'music'}
set2 = {'rock', 'is'}
print(set1.issuperset(set2))

True

### **Dictionaries**

They are a type fo collection. They hace keys and values. The key is analogous to index

In [106]:
# Create a dictionary

dict1 = {'rock': 2,
        'electronic': 3, 
        'regueton': 'music'}
print(dict1)
print(type(dict1))

{'rock': 2, 'electronic': 3, 'regueton': 'music'}
<class 'dict'>

In [108]:
# Extract data from a dictionary

dict1['regueton']

'music'

In [119]:
# Add new entry

dict1['pop'] ='Selena'
print(dict1)

{'rock': 2, 'electronic': 3, 'regueton': 'music', 'pop': 'Selena'}

In [120]:
# Remove entry

del(dict1['pop'])
print(dict1)
print('pop' in dict1)

{'rock': 2, 'electronic': 3, 'regueton': 'music'}
False

In [123]:
print('keys: ', dict1.keys())
print('values: ', dict1.values())

keys:  dict_keys(['rock', 'electronic', 'regueton'])
values:  dict_values([2, 3, 'music'])

In [124]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}